<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no" />
    <title>3D Flip Login and Registration form</title>
</head>
<!--
  <body>
    <div class="container">
      <div class="card">
        <div class="inner-box" id="card">
          <div class="card-fornt">
            <h2>SIGNIN</h2>
            <form id="login" (ngSubmit)="onSubmit()">
              <input [(ngModel)]="email" type="email" class="input-box" placeholder="E-Mail" required />
              <input [(ngModel)]="password" type="password" class="input-box" placeholder="Password" required />
              <button type="submit" class="submit-btn">Submit</button>
              <input type="checkbox" /> <span>Remember Me</span>
            </form>
            <button type="button" class="btn" onclick="openSignUp()">I'm New Here</button>
            <a href="">Forgot Password</a>
          </div>
          <div class="card-back">
            <h2>SIGNUP</h2>
            <form id="register" (ngSubmit)="onSubmit()">
              <input [(ngModel)]="first" class="input-box" placeholder="First Name" required />
              <input [(ngModel)]="last" class="input-box" placeholder="Last Name" required />
              <input [(ngModel)]="email" type="email" class="input-box" placeholder="E-Mail" required />
              <input [(ngModel)]="password" type="password" class="input-box" placeholder="Password" required />
              <button type="submit" class="submit-btn">Submit</button>
              <input type="checkbox" /> <span>Remember Me</span>
            </form>
            <button type="button" class="btn" onclick="openSignIn()">I've an account</button>
            <a href="">Forgot Password</a>
          </div>
        </div>
      </div>
    </div>  
  </body>
-->
<body>
<div class="form-label-group text-center mb-4">
    <form id="register" (ngSubmit)="onSubmit()">
        <div>
            <input [(ngModel)]="first" id="first" name="first" type="text" class="form-control" placeholder="FirstName" required/>
        </div>
        <br>
        <div>
            <input [(ngModel)]="last" id="last" name="last" type="text" class="form-control" placeholder="Last Name" required/>
        </div>
        <br>
        <div>
            <input [(ngModel)]="email" id="email" name="email" type="email" class="form-control" placeholder="E-Mail" required/>
        </div>
        <br>
        <div>
            <input [(ngModel)]="password" id="password" name="password" type="password" class="form-control" placeholder="Password" required minlength="8"/>
        </div>
        <br>
        <input type="submit" class="btn btn-log btn-primary btn-block" value="Sign Up"/>
    </form>
</div>
</body>