
<div id="container">
    <div id="saved-tickets-container">
        

        <div class="table-container">
            <table class="table table-hover" >
                <thead>
                <tr>
                    
                    <th scope="col">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (click)="selectAllTickets()">
                        <label class="form-check-label" for="flexCheckDefault">
                            Select All
                        </label>
                    </th>
                    <!-- <th scope="col">Ticket Id</th> -->
                    <th scope="col">Movie</th>
                    <th scope="col">Genres</th>
                    <th scope="col">Price</th>
                    <th scope="col">ShowDate</th>
                    <th scope="col">ShowTime</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ticket of tickets">
                        <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (click)="handleChecked(ticket)" [checked]="ticket.checked"></td>
                        <!-- <td>{{ticket.id}}</td> -->
                        <td>{{ticket.movieTitle}}</td>
                        <td>{{ticket.genre}}</td>
                        <td>{{ticket.price}}</td>
                        <td>{{ticket.showTime}}</td>
                        <td>{{ticket.showTimeSlot}}</td>
                    </tr>
                </tbody>
                <br>
                <input type="submit" class="btn btn-log btn-block our-btn" value="Add To Cart" (click)="submitToPurchasePage()" />

               
            </table>

            <div class="image-container">
                <img src="./assets/images/popcorn.png" class="ticket-img">
            </div>  
            
        </div>
    </div>

</div>