<!-- <nav class="nav-bar">
    <a class="active" href="homelink">Home</a>
    <a href="one">One</a>
    <a href="two">Two</a>
    <a href="three">Three</a>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand"><a class="an-img"><img src="./assets/images/picture_worth.png" class="bar-img"></a></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <span class="nav-item nav-link" (click)="navigateHome()">Home |</span>
        <span class="nav-item nav-link" (click)="navigateAccount()">View Account Info |</span>
        <span class="nav-item nav-link" (click)="navigateTickets()">View Saved Tickets |</span>
        <span class="nav-item nav-link" (click)="navigatePurchase()">Cart |</span>
        
      </div>
      
      <button class="btn btn-log btn-block our-btn btn-margin" (click)="navigateLogin()" *ngIf="showLogin">Login</button>
      <button class="btn btn-log btn-block our-btn btn-margin" *ngIf="!showLogin">Logout</button>
      <button class="btn btn-log btn-block our-btn btn-margin" (click)="navigateLogin()" *ngIf="!showLogin">Logout</button>
    </div>
    
  </nav>