<div class="container-fluid">
    <div class="form-container">

        <form>

            <hr>

            <h2 class="col-3" >Update Information</h2>

            <h2>Update Information</h2>
            <div class="form-group">
                <label class="" for="firstName">First Name:</label>
                <input class="form-control" type="text" name="firstName" [(ngModel)]="showFirst">
            </div>

            <div class="row-1">
                <label class="" for="lastName">Last Name:</label>
                <input class="form-control" type="text" name="lastName"  [(ngModel)]="showLast">
            </div>

            <div class="row-1">
                <label class="" for="email">Email:</label>
                <input class="form-control" type="email" name="email"  [(ngModel)]="showEmail">
            </div>

            <div class="row-1">
                <label class="" for="password">Password:</label>
                <input class="form-control" type="password" name="password"  [(ngModel)]="showPassword">
            </div>
        </form>

        <br>

    <button class="btn btn-log btn-block our-btn" (click)="updateUser()">Update Information</button>
    </div>
</div>
