
<div class="wrapper">
    <div class="container" *ngFor="let movie of movieList.items">
        <div class="card" style="width: 25rem;">
            <h2 class="card-title">{{movie.title}} - Airing {{movie.releaseState}}</h2>
            <img class="card-img"src="{{movie.image}}">
                <div class="row-4">
                    <label for="ticketDay" class="row-sm-2">Movie Day:</label>
                    <select class="form-select form-select-sm"name="ticketDay" [(ngModel)]="ticketDay">
                        <option *ngFor="let day of ticketDays" [ngValue]="day">{{day.name}}</option>
                    </select>
                </div>
                <div>
                    <label for="ticketTime" class="row-2">Show Time:</label>
                    <select class="form-select form-select-sm"name="ticketDay" [(ngModel)]="ticketTime">
                        <option *ngFor="let time of ticketTimes" [ngValue]="time">{{time.name}}</option>
                    </select>
                </div>
                <div>
                    <label for="ticketDay" class="">Ticket Amounts:</label>
                    <select class="form-select form-select-sm"name="ticketDay" [(ngModel)]="ticketAmount">
                        <option *ngFor="let amount of ticketAmounts" [ngValue]="amount">{{amount.id}}</option>
                    </select>
                </div>
                <button class="btn our-btn" (click)="saveTickets(movie, ticketDay, ticketTime, ticketAmount)">Save Ticket</button>    
                <button class="btn our-btn" (click)="purchaseTickets(movie, ticketDay, ticketTime, ticketAmount)" >Purchase Ticket(s)</button>
        </div>
    </div>
</div>


