.header-container {
    height: 450px;
	margin-bottom: 3rem;
	padding: 70px;
	text-align: center;
}

.form-container {
    width: 400px;
    justify-content: center;
    align-items: center;
    margin: auto;
}