
<div class="container-fluid">
    <div class="userinfo">
        <h2>User Information</h2>
        <p class="" id="showFirst"><b>First Name:</b> {{showFirst}}</p>
        <p class="" id="showLast"><b>Last Name:</b> {{showLast}}</p>
        <p id="showEmail"><b>Email:</b> {{showEmail}}</p>
        <p id="showPassword"><b>Password:</b> {{showPassword}}</p>
    </div>
</div>

<update-user (changePage)="getUserFromUpdateUser($event)"></update-user>

<!-- <div class="container-fluid">
    <h2>View Saved Tickets</h2>
        <div id="ticketInfo">
        </div>
    </div> -->

